$color-white: #fff;
$color-black: #111;
$color-secondary-black: #11101a;
$color-primary-bg: rgba(31, 35, 49); // Replacing rgba(32, 31, 49)
$color-primary-light: #badfff; // Replacing #ffbade
$color-background-dark: #0d1b2a; // Replacing #2b2a42
