#anime-trending {
  margin-bottom: 0;
  padding: 0 0 3rem;

  & .block_area {
    margin-bottom: 0;
  }

  @media screen and (max-width: 575px) {
    padding: 0;
    background: 0 0;
    margin-bottom: 0;
  }
}
