#anime-featured {
  margin-bottom: 40px;
  margin-top: 40px;

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 575px) {
  #anime-featured .anif-block {
    min-height: auto;
    & .anif-block-ul li:nth-of-type(n + 5) {
      display: none !important;
    }
  }
}
