#footer {
  padding: 0;
  position: relative;

  @media screen and (max-width: 1199px) {
    padding: 0 0 20px;
  }

  @media screen and (max-width: 759px) {
    #footer {
      font-size: 13px;
      padding: 0;
    }
  }

  @media screen and (max-width: 479px) {
    background: rgba(255, 255, 255, 0.1);
  }

  & .btn-up {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 15px;
    background: #757575;
    color: #fff;
    padding: 0;
    line-height: 30px;

    @media screen and (max-width: 759px) {
      display: none;
    }
  }

  & .toggle-footer {
    display: flex;
    align-items: center;

    & .tf-item {
      margin-right: 1.5rem;
    }
  }

  &-about {
    padding: 2rem 0;

    @media screen and (max-width: 1199px) {
      padding-bottom: 20px;
    }

    @media screen and (max-width: 759px) {
      padding: 1rem 0;
      text-align: center;
    }

    & .about-text {
      margin: 0 auto 5px;
      line-height: 1.4em;
      opacity: 0.5;
      font-size: 0.9em;
    }

    & .copyright {
      margin-bottom: 0 !important;
      opacity: 0.5;
    }
  }

  & .container {
    position: relative;
    z-index: 3;
  }

  & .footer-logo {
    display: block;
    float: left;
    margin: 0 2rem 0 0;

    @media screen and (max-width: 479px) {
      display: none;
    }

    & img {
      width: auto;
      height: 40px;
    }
  }

  & .footer-top {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media screen and (max-width: 479px) {
      padding-bottom: 0;
      border: none;
    }
  }
}

@media screen and (max-width: 759px) {
  #footer .footer-links {
    text-align: center;
    float: none !important;
    display: block !important;
    overflow: hidden;
    width: 100%;
    & ul {
      text-align: center;
      float: none !important;
      display: block !important;
      overflow: hidden;
      width: 100%;
      & li {
        display: inline-block;
        margin: 0 12px;
        float: none !important;
      }
    }
    & .smoothlink {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  #footer .footer-menu .ulclear li {
    margin-right: 0;
  }
}

@media screen and (max-width: 479px) {
  #footer .footer-content .footer-logo {
    height: 30px;
  }
}
