#main-wrapper {
  margin-bottom: 70px;
  min-height: calc(100vh - 350px);

  @media screen and (max-width: 1299px) {
    min-height: calc(100vh - 520px);
  }

  @media screen and (max-width: 1199px) {
    min-height: calc(100vh - 470px);
  }

  @media screen and (max-width: 759px) {
    min-height: calc(100vh - 355px);
    display: inline-block;
    width: 100%;
  }

  @media screen and (max-width: 480px) {
    margin-bottom: 30px !important;
  }

  @media screen and (max-width: 479px) {
    min-height: calc(100vh - 341px);
  }
}

@media screen and (max-width: 639px) {
  #main-wrapper.layout-page-donate {
    margin-bottom: 0 !important;
  }
}
