#xwrapper {
  width: 100%;
  position: relative;
}

#wrapper {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding-top: 100px;
  overflow-y: hidden;

  @media screen and (max-width: 1299px) {
    padding-top: 0;
  }
}

@media screen and (max-width: 1599px) {
  #wrapper,
  .container {
    max-width: 100%;
  }
}
