.container {
  max-width: 1800px;
  width: 100%;

  @media screen and (max-width: 1599px) {
    padding-left: 15px;
  }
}

.container-404 {
  padding: 150px 0 100px;

  @media screen and (max-width: 1023px) {
    padding: 100px 0;
  }

  @media screen and (max-width: 480px) {
    padding: 70px 0;
  }

  & .c4-big {
    font-size: 120px;
    font-weight: 600;
    color: #ddd;
    line-height: 1em;
    margin-bottom: 20px;

    @media screen and (max-width: 480px) {
      font-size: 80px;
      line-height: 1em;
    }

    &-img {
      width: 100%;
      max-width: 800px;
      margin: 0 auto 30px;

      & img {
        max-height: 300px;
        max-width: 100%;
      }
    }
  }

  & .c4-medium {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2em;
    margin-bottom: 10px;

    @media screen and (max-width: 480px) {
      font-size: 14px;
      line-height: 1.2em;
    }
  }

  & .c4-small {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 30px;
  }
}

.zcontainer {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: 1299px) {
    padding: 0 20px;
  }

  @media screen and (max-width: 759px) {
    padding: 0 15px;
  }
}
