.film-poster {
  position: relative;
  width: 100%;
  padding-bottom: 148%;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  display: block;

  & .tick {
    position: absolute;
    bottom: 10px;
    z-index: 10;

    &.ltr {
      left: 10px;
    }

    &.rtl {
      right: 10px;
    }
  }

  & .film-poster-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &-ahref i,
  &-ahref:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-primary;
  }

  &-ahref:after {
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
  }

  &-ahref i,
  &-ahref:after,
  &-ahref:before,
  &-img {
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
  }

  & .loading-relative {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }
}
