#pick_menu {
  position: absolute;
  top: 160px;
  left: 5px;
  text-align: center;
  padding: 5px 10px;
  width: 40px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
  display: none;

  & .pmu-item {
    margin: 15px 0;
    display: inline-block;
    width: 100%;

    & .pmu-item-icon {
      width: 20px;
      height: 20px;
      display: inline-block;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: 1599px) {
    display: none;
  }
}
