.premodal {
  &.premodal-large .modal-dialog {
    max-width: 600px;

    & .modal-content {
      border-radius: 20px;
    }
  }

  & .category_filter .category_filter-content {
    background: 0 0;
    border: none;
    padding: 0;
  }

  &-characters .modal-content {
    & .modal-body {
      @media screen and (max-width: 480px) {
        padding: 15px;
      }
    }
    & .modal-header {
      @media screen and (max-width: 480px) {
        padding: 20px 20px 0;
      }
    }
  }

  &-filter .modal-content {
    background: rgba(255, 255, 255, 0.1) url('../images/filter.jpg') top center
      no-repeat;

    & .modal-body {
      @media screen and (max-width: 575px) {
        padding: 0 20px 40px !important;
      }
    }
  }

  &-filter .modal-header {
    padding: 20px 30px !important;
    padding-bottom: 0 !important;

    @media screen and (max-width: 575px) {
      padding: 20px !important;
    }
  }

  &-filter .modal-title {
    font-size: 1.5em;
    line-height: 1.3em;

    @media screen and (max-width: 575px) {
      font-size: 20px;
    }
  }

  &.premodal-characters .modal-dialog {
    max-width: 920px;

    @media screen and (max-width: 759px) {
      max-width: 96% !important;
    }
  }

  &.premodal.premodal-video .modal-content .modal-body {
    padding: 0 10px 10px 10px;
  }

  &.premodal-video .modal-dialog {
    max-width: 800px;
  }

  &.premodal-video .modal-content .modal-header {
    padding: 15px;

    & .modal-title {
      font-size: 16px;
    }
  }

  & .pre-pagination {
    @media screen and (max-width: 575px) {
      margin: 20px 0 0 !important;
    }
  }

  &-newroom .modal-dialog .modal-content {
    background: #354173;

    & .btn-dark {
      background: #111;
      font-size: 12px;
      border: none !important;

      & span {
        @media screen and (max-width: 479px) {
          display: none;
        }
      }
    }
  }

  & .modal-logo {
    margin-top: -10px;

    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  & .alert {
    font-size: 13px;
    line-height: 1.4em;
    border-radius: 0;
  }

  & .btn {
    padding: 0.75rem 1rem;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0.4rem;
    box-shadow: none !important;
  }

  &-live .modal-content {
    background-color: #1f2b59;
  }

  &-login .modal-content {
    background: #333;
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    @media screen and (max-width: 575px) {
      padding-top: 0;
    }

    & .close {
      top: -45px;
    }

    & .modal-body {
      padding: 20px 60px 30px;

      @media screen and (max-width: 480px) {
        padding: 20px 20px 40px;
      }
    }
  }

  &-trailer .modal-content .modal-body {
    padding: 5px;
  }

  &-trailer .modal-dialog {
    max-width: 800px;
  }

  &-manga .modal-content {
    background: #5f25a6;
    color: #fff;

    & a {
      color: #fff;

      &:hover {
        color: #ffd702;
      }
    }
  }

  & .modal-content {
    border-radius: 0;
    border: none;
    color: #111;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 1.5rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    @media screen and (max-width: 479px) {
      background: rgba(255, 255, 255, 0.1);
      color: #fff;
      border-radius: 1.5rem;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }

    & .modal-body {
      @media screen and (max-width: 480px) {
        padding: 20px;
      }
      p {
        line-height: 1.4em;
      }
    }

    & .modal-header {
      border-bottom: 0;
      border-radius: 0;
      padding: 25px 30px 0;
      position: relative;
      display: block;

      @media screen and (max-width: 480px) {
        padding: 20px 20px 0;
      }

      & .modal-title {
        text-align: center;
        font-weight: 600;
      }
    }

    & .close {
      position: absolute;
      top: -15px;
      right: -15px;
      color: #111;
      margin: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #fff;
      z-index: 3;
      text-align: center;
      line-height: 30px;
      display: inline-block;
      padding: 0;
      opacity: 1;
      text-shadow: none;

      @media screen and (max-width: 575px) {
        right: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        top: -20px;
        background: #fff;
        color: #111;
      }

      @media screen and (max-width: 575px) {
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 0 20px 0 8px;
      }

      &:hover {
        opacity: 1;
        background: $color-primary;
        color: #111;
      }
    }

    & .modal-body {
      padding: 20px 30px 30px;
    }

    & .modal-footer {
      padding-bottom: 30px;
      display: block;
      background: 0 0;
      border-top: none;
    }
  }
}
