@-webkit-keyframes sk-bouncedelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse-white {
  0% {
    box-shadow: 0 0 0 0 #fff inset;
    border: 1px solid #fff;
  }
  100% {
    box-shadow: 0 0 40px 0 rgba(255, 255, 255, 0) inset;
    border: 1px solid transparent;
  }
}

@keyframes trending-show {
  from {
    opacity: 0;
    height: 230px;
  }
  to {
    opacity: 1;
    height: auto;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-wait {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
  100% {
    content: '';
  }
}

@-webkit-keyframes loadanimation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(30%, 0, 0);
  }
}

@keyframes loadanimation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(30%, 0, 0);
  }
}

@keyframes removing {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes new-chat {
  0% {
    top: 0;
  }
  50% {
    top: -1px;
  }
  100% {
    top: 1px;
  }
}

@keyframes lflash {
  0% {
    background-color: #0002;
    box-shadow: 24px 0 #0002, -24px 0 #000;
  }
  50% {
    background-color: #000;
    box-shadow: 24px 0 #0002, -24px 0 #0002;
  }
  100% {
    background-color: #0002;
    box-shadow: 24px 0 #000, -24px 0 #0002;
  }
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}
