html {
  position: relative;
}

body {
  background: #0d1b2a;
  font-family: Poppins, Arial;
  color: #fff;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 300;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: none;
}

body {
  background: rgb(32, 31, 49);
  font-family: 'Poppins', Arial;
  color: #ccc;
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 15px;
  &-track {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.2);
  }
  &-thumb {
    border-radius: 0;
    background: rgba(255, 255, 255, 0.4);
    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }
}
